Repository leonardo-tx/Votify, pull requests merged in 2025-06, with the labels that each got.

#98 Feat/user profile frontend
  votify-api/src/main/java/br/com/votify/api/controller/rest/users/UserController.java
  votify-api/src/main/resources/data-dev.sql
  votify-core/src/main/java/br/com/votify/core/domain/entities/users/User.java
  votify-core/src/main/java/br/com/votify/core/repository/UserRepository.java
  votify-core/src/main/java/br/com/votify/core/service/ContextService.java
  votify-core/src/main/java/br/com/votify/core/service/UserService.java
  votify-dto/src/main/java/br/com/votify/dto/polls/PollDetailedViewDTO.java
  votify-dto/src/main/java/br/com/votify/dto/polls/PollListViewDTO.java
  votify-test/src/test/java/br/com/votify/api/controller/rest/users/AuthControllerTest.java
  votify-test/src/test/java/br/com/votify/api/controller/rest/users/UserControllerTest.java
  votify-test/src/test/java/br/com/votify/core/service/ContextServiceTest.java
  votify-test/src/test/java/br/com/votify/core/service/UserServiceTest.java
  votify-test/src/test/java/br/com/votify/web/BasePage.java
  votify-test/src/test/java/br/com/votify/web/profile/ProfilePage.java
  votify-test/src/test/java/br/com/votify/web/profile/ProfilePageTest.java
  votify-web/src/components/shared/Button.tsx
  votify-web/src/components/shared/Modal.tsx
  votify-web/src/components/shared/PollCard.tsx
  votify-web/src/components/shared/PollList.tsx
  votify-web/src/components/shared/styles/Button.module.css
  votify-web/src/components/shared/styles/Modal.module.css
  votify-web/src/libs/api.ts
  votify-web/src/libs/users/UserDetailedView.ts
  votify-web/src/libs/users/UserUpdateInfoDTO.ts
  votify-web/src/libs/users/UserUpdatePasswordRequestDTO.ts
  votify-web/src/pages/home/index.tsx
  votify-web/src/pages/home/search.tsx
  votify-web/src/pages/profile/[username].tsx
  votify-web/src/pages/profile/components/UserProfile.tsx
  votify-web/src/pages/profile/components/UserSettings.tsx
  votify-web/src/pages/settings/components/PasswordUserInfoForm.tsx
  votify-web/src/pages/settings/components/UserInfoForm.tsx
  votify-web/src/pages/settings/index.tsx
  votify-web/src/styles/globals.css
Labels: Feature, Teste, Web

#126 deploy: Adiciona o deploy das imagens ao Dockerhub
  .github/workflows/deploy.yml
  pom.xml
  votify-api/pom.xml
  votify-core/pom.xml
  votify-dto/pom.xml
  votify-test/pom.xml
  votify-web/package.json
Labels: Configuração, Dependência, Melhorias

#97 feat: Servico de email de confirmacao
  .idea/runConfigurations/Votify_Docker_PROD.xml
  docker/docker-compose.yml
  k8s/api/votify-api-cm.yaml
  k8s/api/votify-api-secret.yaml
  votify-api/src/main/resources/application-prod.properties
  votify-api/src/main/resources/application-test.properties
  votify-api/src/main/resources/application.properties
  votify-core/pom.xml
  votify-core/src/main/java/br/com/votify/core/properties/email/EmailProperties.java
  votify-core/src/main/java/br/com/votify/core/utils/CharacterUtils.java
  votify-infra/pom.xml
  votify-infra/src/main/java/br/com/votify/infra/messaging/LogEmailSender.java
  votify-infra/src/main/java/br/com/votify/infra/messaging/SmtpEmailSender.java
  votify-infra/src/main/java/br/com/votify/infra/repository/poll/PollRepositoryImpl.java
  votify-test/src/test/java/br/com/votify/api/handlers/GlobalExceptionHandlerTest.java
  votify-test/src/test/java/br/com/votify/infra/messaging/LogEmailSenderTest.java
  votify-test/src/test/java/br/com/votify/infra/messaging/SmtpEmailSenderTest.java
Labels: Feature, Teste, API, Web, Configuração

#87 [FEAT]: Criada página de recuperação de senha, com código de confirma…
  votify-api/src/main/java/br/com/votify/api/controller/rest/user/AuthController.java
  votify-core/src/main/java/br/com/votify/core/model/poll/PollRegister.java
  votify-core/src/main/java/br/com/votify/core/model/user/field/ConfirmationCode.java
  votify-core/src/main/java/br/com/votify/core/repository/user/EmailConfirmationRepository.java
  votify-core/src/main/java/br/com/votify/core/repository/user/PasswordResetRepository.java
  votify-core/src/main/java/br/com/votify/core/service/poll/PollService.java
  votify-core/src/main/java/br/com/votify/core/service/user/EmailConfirmationService.java
  votify-core/src/main/java/br/com/votify/core/service/user/PasswordResetService.java
  votify-core/src/main/java/br/com/votify/core/service/user/UserService.java
  votify-core/src/main/resources/messages.properties
  votify-infra/src/main/java/br/com/votify/infra/persistence/user/UserEntity.java
  votify-infra/src/main/java/br/com/votify/infra/repository/user/EmailConfirmationEntityRepository.java
  votify-infra/src/main/java/br/com/votify/infra/repository/user/EmailConfirmationRepositoryImpl.java
  votify-infra/src/main/java/br/com/votify/infra/repository/user/PasswordResetEntityRepository.java
  votify-infra/src/main/java/br/com/votify/infra/repository/user/PasswordResetRepositoryImpl.java
  votify-infra/src/main/java/br/com/votify/infra/repository/user/RefreshTokenEntityRepository.java
  votify-test/src/test/java/br/com/votify/api/controller/rest/user/AuthControllerTest.java
  votify-test/src/test/java/br/com/votify/core/model/poll/PollRegisterTest.java
  votify-test/src/test/java/br/com/votify/core/service/poll/PollServiceTest.java
  votify-test/src/test/java/br/com/votify/core/service/user/EmailConfirmationServiceTest.java
  votify-test/src/test/java/br/com/votify/core/service/user/PasswordResetServiceTest.java
  votify-test/src/test/java/br/com/votify/core/service/user/UserServiceTest.java
  votify-test/src/test/java/br/com/votify/infra/mapping/user/EmailConfirmationMapperTest.java
  votify-test/src/test/java/br/com/votify/infra/mapping/user/PasswordResetMapperTest.java
  votify-test/src/test/java/br/com/votify/infra/mapping/user/RefreshTokenMapperTest.java
  votify-web/src/libs/VotifyErrorCode.ts
  votify-web/src/libs/api.ts
  votify-web/src/libs/users/EmailConfirmationRequestDTO.ts
  votify-web/src/libs/users/UserPasswordResetConfirmDTO.ts
  votify-web/src/libs/users/UserPasswordResetRequestDto.ts
  votify-web/src/libs/users/UserUpdateEmailRequestDTO.ts
  votify-web/src/pages/auth/confirm-email/index.tsx
  votify-web/src/pages/auth/reset-password/[code].tsx
  votify-web/src/pages/forgot-password/index.tsx
  votify-web/src/pages/login/index.tsx
  votify-web/src/pages/settings/components/EmailUserInfoForm.tsx
  votify-web/src/pages/settings/components/PasswordUserInfoForm.tsx
  votify-web/src/pages/settings/index.tsx
Labels: Feature, Web
