Repository leonardo-tx/Votify, pull requests merged in 2025-05, with the labels that each got.

#96 console: Remove o módulo votify-console
  README.md
  pom.xml
  votify-console/pom.xml
  votify-console/src/main/java/br/com/votify/console/ConsoleApp.java
  votify-console/src/main/java/br/com/votify/console/callers/VotifyApiAuthCaller.java
  votify-console/src/main/java/br/com/votify/console/callers/VotifyApiCaller.java
  votify-console/src/main/java/br/com/votify/console/callers/VotifyApiPollsCaller.java
  votify-console/src/main/java/br/com/votify/console/callers/VotifyApiUsersCaller.java
  votify-console/src/main/java/br/com/votify/console/menus/AuthMenu.java
  votify-console/src/main/java/br/com/votify/console/menus/MainMenu.java
  votify-console/src/main/java/br/com/votify/console/menus/Menu.java
  votify-console/src/main/java/br/com/votify/console/menus/MenuCollection.java
  votify-console/src/main/java/br/com/votify/console/menus/OptionsMenu.java
  votify-console/src/main/java/br/com/votify/console/menus/PollsMenu.java
  votify-console/src/main/java/br/com/votify/console/menus/UsersMenu.java
  votify-console/src/main/java/br/com/votify/console/menus/auth/LoginMenu.java
  votify-console/src/main/java/br/com/votify/console/menus/auth/LogoutMenu.java
  votify-console/src/main/java/br/com/votify/console/menus/auth/RefreshTokensMenu.java
  votify-console/src/main/java/br/com/votify/console/menus/auth/RegisterMenu.java
  votify-console/src/main/java/br/com/votify/console/menus/auth/ResetPasswordMenu.java
  votify-console/src/main/java/br/com/votify/console/menus/polls/CreatePollMenu.java
  votify-console/src/main/java/br/com/votify/console/menus/polls/GetMyPollsMenu.java
  votify-console/src/main/java/br/com/votify/console/menus/polls/GetUserPollsMenu.java
  votify-console/src/main/java/br/com/votify/console/menus/users/CurrentUserMenu.java
  votify-console/src/main/java/br/com/votify/console/menus/users/DeleteUserContextMenu.java
  votify-console/src/main/java/br/com/votify/console/menus/users/GetByIdUserMenu.java
  votify-console/src/main/java/br/com/votify/console/utils/ConsoleUtils.java
Labels: Console

#86 bug, test: Correção de bugs gerais e Refatoração dos dados de teste
  pom.xml
  votify-api/src/main/java/br/com/votify/api/VotifyApiApplication.java
  votify-api/src/main/java/br/com/votify/api/controller/polls/PollController.java
  votify-api/src/main/java/br/com/votify/api/controller/users/AuthController.java
  votify-api/src/main/java/br/com/votify/api/controller/users/UserController.java
  votify-api/src/main/resources/application-dev.properties
  votify-api/src/main/resources/application-test.properties
  votify-api/src/main/resources/data-dev.sql
  votify-api/src/main/resources/data-test.sql
  votify-api/src/main/resources/junit-platform.properties
  votify-core/pom.xml
  votify-core/src/main/java/br/com/votify/core/decorators/NeedsUserContext.java
  votify-core/src/main/java/br/com/votify/core/domain/entities/polls/Poll.java
  votify-core/src/main/java/br/com/votify/core/domain/entities/polls/VoteOption.java
  votify-core/src/main/java/br/com/votify/core/domain/entities/users/AdminUser.java
  votify-core/src/main/java/br/com/votify/core/domain/entities/users/CommonUser.java
  votify-core/src/main/java/br/com/votify/core/domain/entities/users/ModeratorUser.java
  votify-core/src/main/java/br/com/votify/core/domain/entities/users/User.java
  votify-core/src/main/java/br/com/votify/core/repository/PollRepository.java
  votify-core/src/main/java/br/com/votify/core/service/ContextService.java
  votify-core/src/main/java/br/com/votify/core/service/PasswordEncoderService.java
  votify-core/src/main/java/br/com/votify/core/service/PollService.java
  votify-core/src/main/java/br/com/votify/core/service/UserService.java
  votify-core/src/main/java/br/com/votify/core/utils/validators/PollValidator.java
  votify-dto/src/main/java/br/com/votify/dto/polls/PollListViewDTO.java
  votify-dto/src/main/java/br/com/votify/dto/users/UserLoginDTO.java
  votify-dto/src/main/java/br/com/votify/dto/users/UserRegisterDTO.java
  votify-test/.jqwik-database
  votify-test/pom.xml
  votify-test/src/test/java/br/com/votify/api/controller/polls/PollControllerTest.java
  votify-test/src/test/java/br/com/votify/api/controller/users/AuthControllerTest.java
  votify-test/src/test/java/br/com/votify/api/controller/users/UserControllerTest.java
  votify-test/src/test/java/br/com/votify/core/domain/entities/password/PasswordResetTokenTest.java
  votify-test/src/test/java/br/com/votify/core/jobs/EmailConfirmationCleanupJobTest.java
  votify-test/src/test/java/br/com/votify/core/service/ContextServiceTest.java
  votify-test/src/test/java/br/com/votify/core/service/EmailConfirmationServiceTest.java
  votify-test/src/test/java/br/com/votify/core/service/PasswordResetServiceTest.java
  votify-test/src/test/java/br/com/votify/core/service/PollServiceTest.java
  votify-test/src/test/java/br/com/votify/core/service/TokenServiceTest.java
  votify-test/src/test/java/br/com/votify/core/service/UserServiceTest.java
  votify-test/src/test/java/br/com/votify/core/utils/validators/PollValidatorTest.java
  votify-test/src/test/java/br/com/votify/core/utils/validators/UserValidatorTest.java
  votify-test/src/test/java/br/com/votify/test/MockMvcHelper.java
  votify-test/src/test/java/br/com/votify/test/SeleniumHelper.java
  votify-test/src/test/java/br/com/votify/test/extensions/BrowsersProviderExtension.java
  votify-test/src/test/java/br/com/votify/test/extensions/ScreenshotExtension.java
  votify-test/src/test/java/br/com/votify/test/suites/ControllerTest.java
  votify-test/src/test/java/br/com/votify/test/suites/CustomClassOrderer.java
  votify-test/src/test/java/br/com/votify/test/suites/SeleniumTest.java
  votify-test/src/test/java/br/com/votify/web/home/HomePage.java
  votify-test/src/test/java/br/com/votify/web/home/HomeTest.java
  votify-test/src/test/java/br/com/votify/web/login/LoginTest.java
  votify-test/src/test/java/br/com/votify/web/polls/PollPage.java
  votify-test/src/test/java/br/com/votify/web/polls/PollTest.java
  votify-web/src/components/base/GlobalValuesProvider.tsx
  votify-web/src/pages/home/components/PollCard.tsx
  votify-web/src/pages/polls/[id].tsx
  votify-web/src/pages/polls/components/VoteForm.tsx
  votify-web/src/pages/polls/components/styles/VoteForm.module.css
  votify-web/src/styles/globals.css
Labels: Bug, Teste, Melhorias

#64 Implementando o cancelamento e arquivamento de enquetes e testes
  votify-api/src/main/java/br/com/votify/api/controller/polls/PollController.java
  votify-core/src/main/java/br/com/votify/core/domain/entities/polls/Poll.java
  votify-core/src/main/java/br/com/votify/core/domain/entities/users/User.java
  votify-core/src/main/java/br/com/votify/core/service/PollService.java
  votify-core/src/main/java/br/com/votify/core/utils/exceptions/VotifyErrorCode.java
  votify-core/src/main/resources/messages.properties
  votify-dto/src/main/java/br/com/votify/dto/polls/PollInsertDTO.java
  votify-test/pom.xml
  votify-test/src/test/java/br/com/votify/api/controller/polls/PollControllerTest.java
  votify-test/src/test/java/br/com/votify/core/service/PollServiceTest.java
  votify-test/src/test/java/br/com/votify/test/MockMvcHelper.java
Labels: Feature, Teste, API

#115 ci: Arruma arquivos docker e prepara arquivos kubernetes
  .github/workflows/java-ci.yml
  .github/workflows/pull-java-ci.yml
  .idea/runConfigurations/Votify_Docker_DEV.xml
  .idea/runConfigurations/Votify_Docker_PROD.xml
  .idea/runConfigurations/Votify_Docker_Tests.xml
  docker/Dockerfile.api
  docker/Dockerfile.frontend
  docker/Dockerfile.test
  docker/docker-compose.dev.yml
  docker/docker-compose.test.yml
  docker/docker-compose.yml
  k8s/.gitkeep
  votify-api/src/main/resources/application.properties
Labels: Teste, Melhorias

#84 back-end, front-end: Adiciona a feature de atualização da enquete em tempo real
  .idea/encodings.xml
  votify-api/pom.xml
  votify-api/src/main/java/br/com/votify/api/configuration/WebConfig.java
  votify-api/src/main/java/br/com/votify/api/configuration/WebSocketConfig.java
  votify-api/src/main/java/br/com/votify/api/controller/rest/polls/PollController.java
  votify-api/src/main/java/br/com/votify/api/controller/rest/users/AuthController.java
  votify-api/src/main/java/br/com/votify/api/controller/rest/users/UserController.java
  votify-api/src/main/java/br/com/votify/api/controller/websocket/polls/PollSocketController.java
  votify-core/pom.xml
  votify-core/src/main/java/br/com/votify/core/domain/events/PollUpdateEvent.java
  votify-core/src/main/java/br/com/votify/core/service/PollService.java
  votify-dto/src/main/java/br/com/votify/dto/polls/PollQueryDTO.java
  votify-dto/src/main/java/br/com/votify/dto/polls/VoteOptionViewDTO.java
  votify-test/src/test/java/br/com/votify/api/controller/rest/polls/PollControllerTest.java
  votify-test/src/test/java/br/com/votify/api/controller/rest/users/AuthControllerTest.java
  votify-test/src/test/java/br/com/votify/api/controller/rest/users/UserControllerTest.java
  votify-test/src/test/java/br/com/votify/api/controller/websocket/PollSocketControllerTest.java
  votify-test/src/test/java/br/com/votify/api/handlers/GlobalExceptionHandlerTest.java
  votify-test/src/test/java/br/com/votify/core/service/ContextServiceTest.java
  votify-test/src/test/java/br/com/votify/core/service/PasswordResetServiceTest.java
  votify-test/src/test/java/br/com/votify/core/service/PollServiceTest.java
  votify-test/src/test/java/br/com/votify/core/service/UserServiceTest.java
  votify-test/src/test/java/br/com/votify/test/MockMvcHelper.java
  votify-test/src/test/java/br/com/votify/test/suites/CustomClassOrderer.java
  votify-test/src/test/java/br/com/votify/test/suites/SeleniumTest.java
  votify-test/src/test/java/br/com/votify/test/suites/SocketControllerTest.java
  votify-test/src/test/java/br/com/votify/web/polls/PollTest.java
  votify-test/src/test/resources/junit-platform.properties
  votify-web/next.config.ts
  votify-web/package.json
  votify-web/src/components/base/CurrentUserProvider.tsx
  votify-web/src/components/base/GlobalValuesProvider.tsx
  votify-web/src/components/base/SocketProvider.tsx
  votify-web/src/libs/api.ts
  votify-web/src/libs/polls/PollDetailedView.ts
  votify-web/src/libs/polls/VoteOptionView.ts
  votify-web/src/libs/socket/atoms/socketAtom.ts
  votify-web/src/pages/polls/[id].tsx
  votify-web/src/pages/polls/components/VoteForm.tsx
  votify-web/yarn.lock
Labels: Feature, Teste, API, Web
