Repository leonardo-tx/Votify, pull requests merged in 2025-03, with the labels that each got.

#35 ci: Corrigir o commit de badges do java-ci.yml
  .github/workflows/java-ci.yml
Labels: Bug, Teste

#37 ci: Corrige CI do Github Actions
  .github/workflows/java-ci.yml
  .github/workflows/pull-java-ci.yml
Labels: Teste, Configuração

#41 Feat and Test: getUserById
  votify-api/src/main/java/br/com/votify/api/controller/users/UserController.java
  votify-core/src/main/java/br/com/votify/core/domain/entities/users/AdminUser.java
  votify-core/src/main/java/br/com/votify/core/domain/entities/users/PermissionFlags.java
  votify-core/src/main/java/br/com/votify/core/domain/entities/users/User.java
  votify-core/src/main/java/br/com/votify/core/service/ContextService.java
  votify-core/src/main/java/br/com/votify/core/service/UserService.java
  votify-dto/src/main/java/br/com/votify/dto/users/UserQueryDTO.java
  votify-test/.jqwik-database
  votify-test/src/test/java/br/com/votify/api/controller/users/UserControllerTest.java
Labels: Feature, Teste, API

#42 [FEAT] Adiciona a entidade Poll e a Controller
  votify-api/src/main/java/br/com/votify/api/controller/poll/PollController.java
  votify-core/src/main/java/br/com/votify/core/domain/entities/poll/Poll.java
  votify-core/src/main/java/br/com/votify/core/domain/entities/vote/Vote.java
  votify-core/src/main/java/br/com/votify/core/domain/entities/vote/VoteOption.java
  votify-core/src/main/java/br/com/votify/core/repository/PollRepository.java
  votify-core/src/main/java/br/com/votify/core/repository/VoteOptionRepository.java
  votify-core/src/main/java/br/com/votify/core/service/PollService.java
  votify-core/src/main/java/br/com/votify/core/utils/exceptions/VotifyErrorCode.java
  votify-core/src/main/java/br/com/votify/core/utils/validators/PollValidator.java
  votify-core/src/main/java/br/com/votify/core/utils/validators/VoteOptionValidator.java
  votify-core/src/main/resources/messages.properties
  votify-dto/src/main/java/br/com/votify/dto/poll/PollDetailedViewDTO.java
  votify-dto/src/main/java/br/com/votify/dto/poll/PollInsertDTO.java
  votify-dto/src/main/java/br/com/votify/dto/vote/VoteOptionInsertDTO.java
Labels: Feature, API

#47 back-end: Corrige problema de validação das opções de votação
  votify-core/src/main/java/br/com/votify/core/utils/validators/PollValidator.java
Labels: Bug, API

#40 feat: delete users
  votify-api/src/main/java/br/com/votify/api/controller/users/UserContextController.java
  votify-api/src/main/java/br/com/votify/api/controller/users/UserController.java
  votify-core/src/main/java/br/com/votify/core/domain/entities/users/User.java
  votify-core/src/main/java/br/com/votify/core/repository/RefreshTokenRepository.java
  votify-core/src/main/java/br/com/votify/core/service/ContextService.java
  votify-core/src/main/java/br/com/votify/core/service/TokenService.java
  votify-core/src/main/java/br/com/votify/core/service/UserService.java
  votify-core/src/main/java/br/com/votify/core/utils/exceptions/VotifyErrorCode.java
  votify-core/src/main/java/br/com/votify/core/utils/exceptions/VotifyException.java
  votify-core/src/main/resources/messages.properties
  votify-dto/src/main/java/br/com/votify/dto/ApiResponse.java
  votify-test/src/test/java/br/com/votify/api/controller/users/UserContextControllerTest.java
  votify-test/src/test/java/br/com/votify/api/controller/users/UserControllerTest.java
  votify-test/src/test/java/br/com/votify/core/service/ContextServiceTest.java
  votify-test/src/test/java/br/com/votify/core/service/UserServiceTest.java
Labels: Feature, Teste, API

#44 Adiciona a funcionalidade de reset de senha e logout
  votify-api/src/main/java/br/com/votify/api/controller/users/PasswordResetController.java
  votify-api/src/main/java/br/com/votify/api/controller/users/UserController.java
  votify-api/src/main/java/br/com/votify/api/handlers/GlobalExceptionHandler.java
  votify-api/src/main/resources/application.properties
  votify-core/src/main/java/br/com/votify/core/domain/entities/password/PasswordResetToken.java
  votify-core/src/main/java/br/com/votify/core/repository/PasswordResetTokenRepository.java
  votify-core/src/main/java/br/com/votify/core/service/ContextService.java
  votify-core/src/main/java/br/com/votify/core/service/PasswordResetService.java
  votify-core/src/main/java/br/com/votify/core/service/TokenService.java
  votify-core/src/main/java/br/com/votify/core/service/UserService.java
  votify-core/src/main/java/br/com/votify/core/utils/exceptions/VotifyErrorCode.java
  votify-core/src/main/resources/messages.properties
  votify-dto/src/main/java/br/com/votify/dto/users/PasswordResetConfirmDTO.java
  votify-dto/src/main/java/br/com/votify/dto/users/PasswordResetRequestDTO.java
  votify-dto/src/main/java/br/com/votify/dto/users/PasswordResetResponseDTO.java
  votify-test/.jqwik-database
  votify-test/src/test/java/br/com/votify/api/controller/users/PasswordResetControllerTest.java
  votify-test/src/test/java/br/com/votify/api/controller/users/UserContextControllerTest.java
  votify-test/src/test/java/br/com/votify/core/domain/entities/password/PasswordResetTokenTest.java
  votify-test/src/test/java/br/com/votify/core/service/PasswordResetServiceTest.java
  votify-test/src/test/java/br/com/votify/test/PasswordResetIntegrationTest.java
Labels: Feature, API

#50 Feat/get user polls
  votify-api/src/main/java/br/com/votify/api/controller/poll/PollController.java
  votify-core/src/main/java/br/com/votify/core/domain/entities/poll/Poll.java
  votify-core/src/main/java/br/com/votify/core/repository/PollRepository.java
  votify-core/src/main/java/br/com/votify/core/service/PollService.java
  votify-core/src/main/java/br/com/votify/core/utils/exceptions/VotifyErrorCode.java
  votify-core/src/main/resources/messages.properties
  votify-dto/src/main/java/br/com/votify/dto/PageResponse.java
  votify-dto/src/main/java/br/com/votify/dto/poll/PollListViewDTO.java
  votify-test/src/test/java/br/com/votify/api/controller/poll/PollControllerTest.java
  votify-test/src/test/java/br/com/votify/core/service/PollServiceTest.java
Labels: Feature, Teste, API

#8 doc: Remover membros inativos
  README.md
Labels: Documentação

#48 back-end: Refatoração de código e correção de bugs
  .github/workflows/java-ci.yml
  .gitignore
  votify-api/src/main/java/br/com/votify/api/controller/poll/PollController.java
  votify-api/src/main/java/br/com/votify/api/controller/users/PasswordResetController.java
  votify-api/src/main/java/br/com/votify/api/controller/users/UserContextController.java
  votify-api/src/main/java/br/com/votify/api/controller/users/UserController.java
  votify-api/src/main/java/br/com/votify/api/handlers/GlobalExceptionHandler.java
  votify-core/src/main/java/br/com/votify/core/domain/entities/poll/Poll.java
  votify-core/src/main/java/br/com/votify/core/service/TokenService.java
  votify-core/src/main/java/br/com/votify/core/utils/exceptions/VotifyErrorCode.java
  votify-core/src/main/java/br/com/votify/core/utils/exceptions/VotifyException.java
  votify-core/src/main/java/br/com/votify/core/utils/validators/UserValidator.java
  votify-core/src/main/resources/messages.properties
  votify-dto/src/main/java/br/com/votify/dto/ApiResponse.java
  votify-dto/src/main/java/br/com/votify/dto/poll/PollInsertDTO.java
  votify-test/src/test/java/br/com/votify/api/controller/users/UserContextControllerTest.java
  votify-test/src/test/java/br/com/votify/api/controller/users/UserControllerTest.java
  votify-test/src/test/java/br/com/votify/api/handlers/GlobalExceptionHandlerTest.java
  votify-test/src/test/java/br/com/votify/core/utils/validators/UserValidatorTest.java
  votify-test/src/test/java/br/com/votify/test/AuthHelper.java
  votify-test/src/test/java/br/com/votify/test/RequestScopeTestExecutionListener.java
Labels: Bug, Teste, API, Melhorias

#54 back-end: Refatoração de código
  .github/workflows/java-ci.yml
  .gitignore
  votify-api/src/main/java/br/com/votify/api/controller/poll/PollController.java
  votify-api/src/main/java/br/com/votify/api/controller/users/PasswordResetController.java
  votify-api/src/main/java/br/com/votify/api/controller/users/UserContextController.java
  votify-api/src/main/java/br/com/votify/api/controller/users/UserController.java
  votify-api/src/main/java/br/com/votify/api/handlers/GlobalExceptionHandler.java
  votify-core/src/main/java/br/com/votify/core/domain/entities/poll/Poll.java
  votify-core/src/main/java/br/com/votify/core/service/TokenService.java
  votify-core/src/main/java/br/com/votify/core/utils/exceptions/VotifyErrorCode.java
  votify-core/src/main/java/br/com/votify/core/utils/exceptions/VotifyException.java
  votify-core/src/main/java/br/com/votify/core/utils/validators/UserValidator.java
  votify-core/src/main/resources/messages.properties
  votify-dto/src/main/java/br/com/votify/dto/ApiResponse.java
  votify-dto/src/main/java/br/com/votify/dto/poll/PollInsertDTO.java
  votify-test/src/test/java/br/com/votify/api/controller/users/UserContextControllerTest.java
  votify-test/src/test/java/br/com/votify/api/controller/users/UserControllerTest.java
  votify-test/src/test/java/br/com/votify/api/handlers/GlobalExceptionHandlerTest.java
  votify-test/src/test/java/br/com/votify/core/utils/validators/UserValidatorTest.java
  votify-test/src/test/java/br/com/votify/test/AuthHelper.java
  votify-test/src/test/java/br/com/votify/test/RequestScopeTestExecutionListener.java
Labels: API, Melhorias

#60 front-end: Construção inicial do Webserver #4
  .gitignore
  votify-web/eslint.config.mjs
  votify-web/next.config.ts
  votify-web/package-lock.json
  votify-web/package.json
  votify-web/postcss.config.mjs
  votify-web/src/libs/api.ts
  votify-web/src/pages/_app.tsx
  votify-web/src/pages/home/index.tsx
  votify-web/src/styles/globals.css
  votify-web/src/styles/themes.css
  votify-web/tailwind.config.js
  votify-web/tsconfig.json
Labels: Web

#55 doc: Atualizar o README.md para refletir o projeto atual
  README.md
Labels: Documentação
