Repository leonardo-tx/Votify, pull requests merged in 2025-04, with the labels that each got.

#83 Feat/update user
  votify-api/src/main/java/br/com/votify/api/controller/users/UserController.java
  votify-core/src/main/java/br/com/votify/core/repository/RefreshTokenRepository.java
  votify-core/src/main/java/br/com/votify/core/service/UserService.java
  votify-core/src/main/java/br/com/votify/core/utils/exceptions/VotifyErrorCode.java
  votify-core/src/main/resources/messages.properties
  votify-dto/src/main/java/br/com/votify/dto/users/UserUpdateEmailRequestDTO.java
  votify-dto/src/main/java/br/com/votify/dto/users/UserUpdateInfoRequestDTO.java
  votify-dto/src/main/java/br/com/votify/dto/users/UserUpdatePasswordRequestDTO.java
  votify-test/src/test/java/br/com/votify/api/controller/users/UserControllerTest.java
  votify-test/src/test/java/br/com/votify/core/service/UserServiceTest.java
  votify-test/src/test/java/br/com/votify/test/MockMvcHelper.java
Labels: Feature, Teste, API

#85 feat: Back-end - Endpoint de buscar por título
  votify-api/src/main/java/br/com/votify/api/controller/polls/PollController.java
  votify-core/src/main/java/br/com/votify/core/repository/PollRepository.java
  votify-core/src/main/java/br/com/votify/core/service/PollService.java
  votify-core/src/main/java/br/com/votify/core/utils/exceptions/VotifyErrorCode.java
  votify-core/src/main/resources/messages.properties
  votify-test/src/test/java/br/com/votify/api/controller/polls/PollControllerTest.java
  votify-test/src/test/java/br/com/votify/core/service/PollServiceTest.java
  votify-test/src/test/java/br/com/votify/web/BasePage.java
  votify-test/src/test/java/br/com/votify/web/home/HomePage.java
  votify-test/src/test/java/br/com/votify/web/home/HomeTest.java
  votify-web/src/components/base/Header.tsx
  votify-web/src/components/shared/Input.tsx
  votify-web/src/components/shared/styles/Input.module.css
  votify-web/src/libs/PageResponse.ts
  votify-web/src/libs/VotifyErrorCode.ts
  votify-web/src/libs/api.ts
  votify-web/src/pages/home/components/Pagination.tsx
  votify-web/src/pages/home/index.tsx
  votify-web/src/pages/home/search.tsx
  votify-web/src/pages/login/index.tsx
Labels: Feature, Teste, API, Web

#75 ci: Adicionar Firefox aos testes
  .github/workflows/java-ci.yml
  .github/workflows/pull-java-ci.yml
  votify-test/src/test/java/br/com/votify/web/BaseTest.java
  votify-test/src/test/java/br/com/votify/web/BrowsersProviderExtension.java
  votify-test/src/test/java/br/com/votify/web/home/HomeTest.java
  votify-test/src/test/java/br/com/votify/web/login/LoginTest.java
Labels: Teste

#46 Implementação de endpoints de enquete específica, enquetes ativas + página de enquete específica
  votify-api/src/main/java/br/com/votify/api/controller/polls/PollController.java
  votify-core/src/main/java/br/com/votify/core/repository/PollRepository.java
  votify-core/src/main/java/br/com/votify/core/service/PollService.java
  votify-dto/src/main/java/br/com/votify/dto/polls/PollDetailedViewDTO.java
  votify-dto/src/main/java/br/com/votify/dto/polls/PollQueryDTO.java
  votify-dto/src/main/java/br/com/votify/dto/polls/VoteOptionViewDTO.java
  votify-test/src/test/java/br/com/votify/api/controller/polls/PollControllerTest.java
  votify-test/src/test/java/br/com/votify/core/service/PollServiceTest.java
  votify-test/src/test/java/br/com/votify/web/BaseTest.java
  votify-test/src/test/java/br/com/votify/web/home/HomeTest.java
  votify-test/src/test/java/br/com/votify/web/login/LoginPage.java
  votify-test/src/test/java/br/com/votify/web/login/LoginTest.java
  votify-test/src/test/java/br/com/votify/web/polls/PollPage.java
  votify-test/src/test/java/br/com/votify/web/polls/PollTest.java
  votify-web/src/components/shared/Button.tsx
  votify-web/src/components/shared/styles/Button.module.css
  votify-web/src/libs/api.ts
  votify-web/src/libs/polls/PollDetailedView.ts
  votify-web/src/libs/polls/VoteInsertDTO.ts
  votify-web/src/libs/polls/VoteOptionView.ts
  votify-web/src/pages/home/components/PollCard.tsx
  votify-web/src/pages/home/components/PollList.tsx
  votify-web/src/pages/home/index.tsx
  votify-web/src/pages/polls/[id].tsx
  votify-web/src/pages/polls/components/VoteForm.tsx
  votify-web/src/pages/polls/components/styles/VoteForm.module.css
Labels: Feature, Teste, API, Web
